<% obj.each do |blog| %>
<div class="row blog-list">
  <div class="col-md-3 col-md-offset-1 blog-list-title">
    <h3><%= link_to blog.title, blog_path(blog) %></h3>
    <h4>Akia Callum</h4>
  </div>
  <div class="col-md-4 blog-body-list">
    <p>
      
      <%= simple_format raw(blog.description.truncate(1000)), class:".blog-body-list" %>
    </p>
    <div style="float:left">
    <div style="padding-top:10px">
      <small>Last updated <%= time_ago_in_words(blog.updated_at)  %> ago </small></br>
      <small>Posted <%= time_ago_in_words(blog.created_at)  %> ago </small></br>
    </div>
    <div style="padding-top:10px">
      <small class="view-blog"><%= link_to "View Blog", blog_path(blog) %></small>
      <small><br><br>
        <% Category.all.each do |category| %>
          <small class="view-blog"><%=link_to category.name, category_path(category.name) %></small>
        <% end %>
      </small></br>
    </div>
    <div style="padding-top:10px">
      <% if logged_in? && current_user.admin? %>
           <%= link_to "Edit blog", edit_blog_path(blog), class: "btn btn-xs btn-primary" %>
           <%= link_to "Delete blog", blog_path(blog), method: :delete,
               data: { confirm: 'Are you sure you want to delete this article'},
               class: "btn btn-xs btn-danger"%>
      <% end %>
    </div>
    </div>
  </div>
  <div class="col-md-4">
    <% if blog.picture? %>
      <%= image_tag blog.picture.url, class:"img-responsive blog-img" %>
    <% else %>
      <%= image_tag @photos.sample, class:"img-responsive blog-img" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <hr> 
  </div> 
</div>


<% end %>
