<div class="blog-detail">
  <div class="contain">
    <div class="background-image" id="bgslide" style="width:100%"></div>
    <h1 align="center">
      <%= @blog.title %>
    </h1>
    <h4 align="center">
      Akia Callum
    </h4>
  </div>
  <div class="blog-body col-md-8 col-md-offset-2">
    <div style="display:block">
    <p>
      <%= raw(@blog.description) %>
    </p>
    <div align="center">
      <small>Last updated <%= time_ago_in_words(@blog.updated_at)  %> ago </small></br>
      <small>Posted <%= time_ago_in_words(@blog.created_at)  %> ago </small></br>
    </div>
      <div align="center">
      <small>
        <% if logged_in? && current_user.admin? %>
             <%= link_to "Edit blog", edit_blog_path(@blog), class: "btn btn-xs btn-primary" %></br>
             <%= link_to "Delete article", blog_path(@blog), method: :delete,
                 data: { confirm: 'Are you sure you want to delete this article'},
                 class: "btn btn-xs btn-danger"%>
        <% end %>
      </div>
    </small>
      </div>
    </div>
</div>

<style>
.background-image {
  left: 0;
  right: 0;
  //z-index: 1;

  display: block;
  background-image: url(<% if @blog.picture? %> 
                        <%= image_path @blog.picture.url %>
                        <% else %>
                        <%=image_path @photos.sample %>
                        <% end %>);
  width: 100%;
  height: 700px;
  opacity: 0.92;
  background-size: cover;
  -webkit-filter: blur(0.5px);
  -moz-filter: blur(0.5px);
  -o-filter: blur(0.5px);
  -ms-filter: blur(0.5px);
  filter: blur(0.5px);
  border-radius: 100px;
}
</style>

<script>

// function changeImage() {
//     $('.background-image').css("background-image", "url('<%= image_path @photos.sample %>' )" )
//  }
 // $('.background-image').css("background-image", "url('<% @blog.picture.url if @blog.picture? %>')")
  console.log("<%= @blog.picture.url %>")
   <% if @blog.description.length < 100 %>
      $('.blog-body').addClass("text-center")                 
   <% end %>
</script>