
<% @photos.each do |photo| %>
     

  <div class="col-md-3 gallery-img-container" style="padding-top:25px">
    <%= image_tag photo.picture.url, class: "gallery-list-img img-responsive", 'data-toggle' => 'modal', 'data-target' => '#myModal' + photo.id.to_s %>
    <div class="caption hidden">
     <%= photo.caption %>
    </div>
    <% if logged_in? && current_user.admin? %>
      <%= link_to 'Edit', edit_photo_path(photo), class:"btn btn-xs btn-primary" %>
      <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
    <% end %>
   </div>
<%= render 'modal_show', obj:photo %>
<% end %>

<div class="text-center">
  <%= will_paginate %>
</div>





