<ul class="navigation" align="center">
  <%= link_to "Home", home_path, class: "navli" %>
  <%= link_to "Blogs", blogs_path, class:"navli" %>
  <%= link_to "Gallery", gallery_path, class:"navli" %>
  <li class="dropdown navli">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, category_path(category.name) %></li>
      <% end %>
      <li role="separator" class="divider bg-primary-cl"></li>
      <li><%= link_to "All Categories", categories_path %></li>
<!--       <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li> -->
    </ul>
  </li>
<!--   <li class="navli">About</li> -->
  <% if logged_in? && current_user.admin? %> 
    <%= link_to "Logout", logout_path, method: :delete, class: "navli" %>
  <% end if %>
  <% if logged_in? && current_user.admin? %> 
  <li class="dropdown navli">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to "New Blog Post", blogs_new_path %></li>
      <li><%= link_to "New Photo", new_photo_path %></li>
      <li><%= link_to "New Category", new_category_path %></li>
    </ul>
  </li>
  <% end if %>
  <% if logged_in? && current_user.admin? %> <li style="list-style:none;display:none"></li>
  <% end if %>
  <li class=""><%=link_to(image_tag('facebook'), "https://www.facebook.com/akia.callum") %></li>
  <li class=""><%=link_to(image_tag('instagram'), "https://www.instagram.com/akiascallum/") %></li>
</ul>

